@font-face {
    font-family: 'league_gothicitalic';
    src: url('fonts/leaguegothic-italic-webfont.woff2') format('woff2'),
         url('fonts/leaguegothic-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
