@font-face {
    font-family: 'league_gothicitalic';
    src: url('fonts/leaguegothic-italic-webfont.woff2') format('woff2'),
         url('fonts/leaguegothic-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face{
  font-family: 'SFTextRegular';
  src: url('http://files.cargocollective.com/336335/SFUIText-Regular.ttf');
}

@font-face{
  font-family: 'SFTextRegularItalic';
  src: url('http://files.cargocollective.com/336335/SFUIText-RegularItalic.ttf');
}

@font-face{
  font-family: 'SFTextBold';
  src: url('http://files.cargocollective.com/336335/SFUIText-Bold.ttf');
}
