@import 'reset.scss';
@import 'shared.scss';
@import 'grid-settings.scss';
@import 'fonts.scss';
@import '../neat/neat';

// @media(max-width:400px){
//   body{
//     background-color:red;
//   }
// }

body{
  @include media($mobile){
    text-align:center;
    padding:0rem;
  }
  padding:1rem;
  width:100%;
  text-align:right;
  background-color:$color-pink;
  font-family:"Post Grotesk";

}

.caption{
  margin-top:1rem;
  margin-bottom:2rem;
  font-size:1.2rem;
  a{
    text-decoration:none;
    color:black;
    font-family:"Post Grotesk";
    font-size:1.1rem;
    transition: .2s ease-in-out;
    &:hover{
      color:white;
    }
  }
}

#workwrapper{
  @include media($mobile){
    width:100%;
    margin-right:0;
  }
  display:inline-block;
  width:68%;
  text-align:center;
  margin-right:2rem;
}


@keyframes glowing{
  0%{
    opacity:1;

  }

  50%{
    opacity:0;

  }
  100%{
    opacity:1;

  }
}
.rule{
  @include media($mobile){
    width:100%;

  }
  width:60%;
  height:20px;
  border-bottom:1px solid $color-grey;
}

.info{
  @include media($mobile){
    width:90%;
    font-size:3.2rem;
  }
  width:80%;
  font-size:6.8rem;
  transition:.3s ease-in-out;

    position:fixed;
    text-align:left;

  a{
    text-decoration:none;
    color:black;
    animation:glowing 6s linear 2s infinite alternate;
    transition:.6s ease-in-out;
    &:hover{
      animation:none;
      opacity:1;
      color:white;
    }
  }
}

.smaller{
  @include media($mobile){
    position:fixed;
    width:100%;
    background-color:$color-pink;
    top:0;
    left:0;
    font-size:1.5rem;
    box-shadow:0px 10px 20px $color-pink;
  }
  width:14%;
  font-size:2rem;
}


.tor{
  font-family:'Times Old Roman';
}

.embed-container {
  @include media($mobile){
    padding-bottom:100%;

  }
  display:block;
  position: relative;
  padding-bottom: 50%;
  overflow: hidden;
  max-width: 100%;
  text-align:center;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  @include media($mobile){
    left:0%;
    width:100%;

  }
  display:inline-block;
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
}



.project{
  display:inline-block;
    @include media($mobile){
      width:100%;
      padding:0rem 2rem 0rem 2rem;
    }

  margin-top:3.2rem;
  margin-bottom:3.2rem;
  width:100%;


}

#slowplace{
  background-color:#0f2af8;
  img{
  }
}

.slowwrap{
  width:100%;
  #first{
    text-align:left;

  }
  #second{
    text-align:center;

  }
  #third{
    text-align:right;

  }
}

#map{
  img{
    // box-shadow: 0px 0px 20px #5284ff;
    // -webkit-box-shadow: 0px 0px 20px #5284ff;
  }
}

#inspire{
  background-color:red;
  box-shadow: 0px 0px 100px red;
  -webkit-box-shadow: 0px 0px 100px red;

}

#superfeel img{
  vertical-align: middle;
}

#spaces img{

  border: 1px solid white;

}

#indiaposters{
  background-color:black;
}

#sun{
  background-color:grey;
}

.project img{
  margin-top:2rem;
  margin-bottom:2rem;
  box-sizing:border-box;

}

.alpha{
  width:100%;


}

.beta{
  @include media($mobile){
    width: 100%;
    margin:0;
  }
  width:80%;

}

.gamma{
  @include media($mobile){
    width: 98%;
    margin:0;
  }
  width:43%;
  margin-left:1rem;
  margin-right:1rem;
  vertical-align:middle;

}

.epsilon{
  @include media($mobile){
    width: 98%;
    margin:0;
  }
  width:25%;
  margin-left:1rem;
  margin-right:1rem;

}

.round{
  border-radius:6px;
}
