/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'SFTextRegular';
  src: url("http://files.cargocollective.com/336335/SFUIText-Regular.ttf"); }
@font-face {
  font-family: 'SFTextBold';
  src: url("http://files.cargocollective.com/336335/SFUIText-Bold.ttf"); }
@font-face {
  font-family: '';
  src: url(""); }
@font-face {
  font-family: 'Post Grotesk';
  src: url("https://files.cargocollective.com/c27929/PostGrotesk-Book.eot");
  src: url("https://files.cargocollective.com/c27929/PostGrotesk-Book.eot?iefix") format("embedded-opentype"), url("https://files.cargocollective.com/c27929/PostGrotesk-Book.woff") format("woff"), url("https://files.cargocollective.com/c27929/PostGrotesk-Book.woff2") format("woff2"); }
@font-face {
  font-family: 'Times Old Roman';
  src: url("https://files.cargocollective.com/c27929/TimesOldRoman-Regular.eot");
  src: url("https://files.cargocollective.com/c27929/TimesOldRoman-Regular.eot?#iefix") format("embedded-opentype"), url("https://files.cargocollective.com/c27929/TimesOldRoman-Regular.woff2") format("woff2"), url("https://files.cargocollective.com/c27929/TimesOldRoman-Regular.woff") format("woff"), url("https://files.cargocollective.com/c27929/TimesOldRoman-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  padding: 1rem;
  width: 100%;
  text-align: right;
  background-color: #eedce5;
  font-family: "Post Grotesk"; }
  @media screen and (max-width: 768px) {
    body {
      text-align: center;
      padding: .3rem; } }

#workwrapper {
  display: inline-block;
  width: 68%;
  text-align: center;
  margin-right: 2rem; }
  @media screen and (max-width: 768px) {
    #workwrapper {
      width: 98%;
      margin-right: 0; } }

@keyframes glowing {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.rule {
  width: 60%;
  height: 20px;
  border-bottom: 1px solid #b1bcbc; }
  @media screen and (max-width: 768px) {
    .rule {
      width: 100%; } }

.info {
  width: 100%;
  font-size: 7.2rem;
  transition: .3s ease-in-out; }
  @media screen and (max-width: 768px) {
    .info {
      width: 90%;
      font-size: 3.2rem; } }
  .info a {
    text-decoration: none;
    color: black;
    animation: glowing 6s linear 2s infinite alternate;
    transition: .6s ease-in-out; }
    .info a:hover {
      animation: none;
      opacity: 1;
      color: white; }

.smaller {
  width: 10%;
  font-size: 2rem; }
  @media screen and (max-width: 768px) {
    .smaller {
      position: fixed;
      width: 100%;
      background-color: #eedce5;
      top: 0;
      left: 0;
      font-size: 1.5rem;
      box-shadow: 0px 10px 20px #eedce5; } }

#infowrapper {
  position: fixed;
  text-align: left; }

.tor {
  font-family: 'Times Old Roman'; }

.embed-container {
  display: block;
  position: relative;
  padding-bottom: 50%;
  overflow: hidden;
  max-width: 100%;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .embed-container {
      padding-bottom: 100%; } }

.embed-container iframe, .embed-container object, .embed-container embed {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .embed-container iframe, .embed-container object, .embed-container embed {
      left: 0%;
      width: 100%; } }

.project {
  display: inline-block;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .project {
      width: 95%;
      padding: 0rem .4rem 0rem .4rem; } }

#slowplace {
  background-color: #00f; }

.slowwrap {
  width: 100%; }
  .slowwrap #first {
    text-align: left; }
  .slowwrap #second {
    text-align: center; }
  .slowwrap #third {
    text-align: right; }

#inspire {
  background-color: red;
  box-shadow: 0px 0px 100px red;
  -webkit-box-shadow: 0px 0px 100px red; }

#superfeel img {
  vertical-align: middle; }

#spaces {
  background-color: #d2d8d8; }

#indiaposters {
  background-color: black; }

.project img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-sizing: border-box; }

.alpha {
  width: 100%; }

.beta {
  width: 80%; }
  @media screen and (max-width: 768px) {
    .beta {
      width: 100%;
      margin: 0; } }

.gamma {
  width: 43%;
  margin-left: 1rem;
  margin-right: 1rem;
  vertical-align: middle; }
  @media screen and (max-width: 768px) {
    .gamma {
      width: 98%;
      margin: 0; } }

.epsilon {
  width: 25%;
  margin-left: 1rem;
  margin-right: 1rem; }
  @media screen and (max-width: 768px) {
    .epsilon {
      width: 98%;
      margin: 0; } }

.round {
  border-radius: 6px; }

/*# sourceMappingURL=styles.css.map */
