/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }
  a:active {
    color: black; }
  a:visited {
    color: black; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'league_gothicitalic';
  src: url("fonts/leaguegothic-italic-webfont.woff2") format("woff2"), url("fonts/leaguegothic-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: white; }

#wrapper {
  width: 100%;
  padding: 1rem; }
  #wrapper #info {
    box-shadow: 0px 0px 10px black;
    width: 28%;
    display: inline-block;
    vertical-align: top; }
    @media screen and (max-width: 480px) {
      #wrapper #info {
        width: 100%;
        font-size: 12px; } }
    #wrapper #info #name {
      font-family: 'Kumar One', cursive;
      font-size: 36px; }
  #wrapper #projectlist {
    width: 60%;
    display: inline-block;
    text-align: left;
    float: right;
    padding-right: 10px; }
    @media screen and (max-width: 480px) {
      #wrapper #projectlist {
        width: 100%; } }
    #wrapper #projectlist h3 {
      font-family: sans-serif;
      margin-top: .8rem;
      font-size: 36px;
      font-style: italic; }
    #wrapper #projectlist a {
      width: 100%;
      margin-top: .5rem;
      color: black;
      display: block;
      font-size: 48px;
      background-size: contain;
      padding-bottom: 2rem;
      background-position: right; }
      @media screen and (max-width: 480px) {
        #wrapper #projectlist a {
          width: 100%; } }
      #wrapper #projectlist a:hover {
        color: yellow; }
    #wrapper #projectlist #reflexive {
      background-image: url("../images/reflexive.gif"); }
    #wrapper #projectlist #map {
      color: white;
      filter: drop-shadow(0px 0px 3px #5284ff); }
    #wrapper #projectlist #inspire {
      color: white;
      text-shadow: 0px 0px 2px black;
      background-color: grey;
      background-image: url("../images/inspire.jpg");
      text-transform: uppercase; }
    #wrapper #projectlist #slow {
      color: green;
      text-shadow: 0px 0px 4px yellow; }
    #wrapper #projectlist #military {
      background-image: url("../images/military2.png"); }

/*# sourceMappingURL=styles.css.map */
