/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: black; }
  a:active {
    color: black; }
  a:visited {
    color: black; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'league_gothicitalic';
  src: url("fonts/leaguegothic-italic-webfont.woff2") format("woff2"), url("fonts/leaguegothic-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SFTextRegular';
  src: url("http://files.cargocollective.com/336335/SFUIText-Regular.ttf"); }
@font-face {
  font-family: 'SFTextRegularItalic';
  src: url("http://files.cargocollective.com/336335/SFUIText-RegularItalic.ttf"); }
@font-face {
  font-family: 'SFTextBold';
  src: url("http://files.cargocollective.com/336335/SFUIText-Bold.ttf"); }
body {
  background-color: grey; }

#cover {
  display: none;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

#modalwrapper {
  padding: 0% 10% 0% 10%;
  position: relative; }
  #modalwrapper #contentmodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: red;
    font-size: 25px;
    z-index: 2;
    display: none; }
  #modalwrapper .close {
    float: right;
    font-size: 28px;
    width: 50px;
    height: 50px; }
    #modalwrapper .close .line1 {
      height: 67.5px;
      border-right: 1px solid black;
      transform-origin: top;
      margin-left: 48px;
      transform: rotate(45deg);
      position: absolute;
      float: right; }
    #modalwrapper .close .line2 {
      height: 67.5px;
      border-left: 1px solid black;
      transform: rotate(-45deg);
      transform-origin: top;
      position: absolute;
      float: right; }
  #modalwrapper .close:hover,
  #modalwrapper .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    cursor: hand; }

#wrapper {
  width: 100%;
  padding: 1rem;
  float: left; }
  #wrapper #info {
    width: 28%;
    display: inline-block;
    vertical-align: top; }
    @media screen and (max-width: 768px) {
      #wrapper #info {
        width: 100%;
        font-size: 12px; } }
    #wrapper #info #name {
      font-family: 'Kumar One', cursive;
      font-size: 36px;
      color: black;
      margin-bottom: 1rem; }
    #wrapper #info .contactlink {
      color: blue;
      text-decoration: underline; }
      #wrapper #info .contactlink:hover {
        text-decoration: none; }
    #wrapper #info #infobox {
      font-family: 'SFTextRegular';
      font-size: 1rem;
      color: black; }
      @media screen and (max-width: 768px) {
        #wrapper #info #infobox {
          display: none; } }
  #wrapper #projectlist {
    width: 60%;
    text-align: left;
    float: right;
    padding-right: 10px; }
    @media screen and (max-width: 768px) {
      #wrapper #projectlist {
        width: 100%; } }
    #wrapper #projectlist .subjectwrapper {
      margin: 2rem 0rem 2rem 0rem; }
    #wrapper #projectlist #first {
      margin-top: 0 !important; }
    #wrapper #projectlist .linkwrapper {
      display: block;
      margin: .5rem 0rem .5rem 0rem; }
    #wrapper #projectlist h3 {
      font-family: 'SFTextRegular';
      font-size: 36px;
      font-style: italic;
      color: red; }
    #wrapper #projectlist a {
      font-family: 'SFTextRegular';
      margin-top: .5rem;
      color: black;
      font-size: 2.8rem;
      background-size: contain;
      background-repeat: no-repeat;
      padding-bottom: 4rem;
      background-position: right; }
      @media screen and (max-width: 768px) {
        #wrapper #projectlist a {
          font-size: 1.8rem; } }
      #wrapper #projectlist a:hover {
        color: yellow; }
    #wrapper #projectlist #reflexive:hover {
      background-image: url("../images/reflexive.gif"); }
    #wrapper #projectlist #map:hover {
      background-image: url("../images/map.png"); }
    #wrapper #projectlist #inspire:hover {
      background-image: url("../images/inspire.jpg"); }
    #wrapper #projectlist #slow:hover {
      background-image: url("../images/slowplace.gif"); }
    #wrapper #projectlist #military:hover {
      background-image: url("../images/military2.png"); }

/*# sourceMappingURL=styles.css.map */
