@import 'reset.scss';
@import 'shared.scss';
@import '../neat/neat';
@import 'fonts.scss';
@import 'projectstyles.scss';





body{
  @include media($mobile) {
  }
  background-color:grey;
}

#cover {
  display: none;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  bottom:0;
  right:0;
  width: 100%;
  height: 100%;
  // overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.visible{
  display:block;
}

#modalwrapper{
  padding:0% 16% 0% 16%;
  position:relative;

  #contentmodal{
    @include media($mobile){
      width:92%;
      height:92%;
    }
    display:none;
    position: fixed;
    width:90%;
    height:90%;

    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    font-size:25px;
    z-index:2;

    background-color:white;





  }
  // // close button
  // .close {
  //   position:fixed;
  //   font-size: 28px;
  //   z-index:6;
  //   width:50px;
  //   height:50px;
  //   right:0rem;
  //   top:.1rem;
  //   .line1{
  //     height: 34px;
  //     border-right: 1px solid black;
  //     transform-origin: top;
  //     margin-left: 24px;
  //     transform: rotate(45deg);
  //     position: absolute;
  //     float: right;
  //
  //   }
  //
  //
  //
  //   .line2{
  //     height: 34px;
  //     border-left: 1px solid black;
  //     transform: rotate(-45deg);
  //     transform-origin:top;
  //     position:absolute;
  //     float:right;
  //   }
  // }
  //
  // .close:hover,
  // .close:focus {
  //     color: black;
  //     text-decoration: none;
  //     cursor: pointer;
  //     cursor:hand;
  // }

  .close {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    transition: transform .25s ease-in-out;
    z-index:6;
}
.close:hover {
    transform: rotate(180deg);
}
.close:before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.5);
    transform: rotate(45deg);
    transform-origin: center;
}
.close:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.5);
    transform: rotate(-45deg);
    transform-origin: center;
}
}



#wrapper{
  width:100%;
  padding:1rem;
  float:left;

  #info{
    @include media($mobile){
      width:100%;
      font-size:12px;
    }

    width:28%;
    display:inline-block;
    vertical-align:top;

    #name{
      font-family:'Kumar One', cursive;
      font-size:36px;
      color:black;
      margin-bottom:1rem;
    }

    .contactlink{
      color:blue;

        text-decoration:underline;
      &:hover{
        text-decoration:none;
      }
    }


    #infobox{
      @include media($mobile){
        display:none;
      }
      font-family:'SFTextRegular';
      font-size:1rem;
      color:black;

    }

  }

  #projectlist{
    @include media($mobile){
      width:100%;
    }
    width:60%;
    text-align:left;
    float:right;
    padding-right:10px;

    .subjectwrapper{
      @include media($mobile){
        line-height:.9;
      }
      margin:2rem 0rem 2rem 0rem;
    }

    #first{
      margin-top:0!important;
    }

    .linkwrapper{
      display:block;
      width:100%;
      margin:.5rem 0rem .5rem 0rem;

    }
    h3{
      font-family:'SFTextRegular';
      font-size:36px;
      font-style:italic;
      color:red;
    }
    a{
      @include media($mobile){
        font-size:1.8rem;
        background-position:right;
        padding-bottom:1.2rem;
        width:100%;
        float:right;
      }
      font-family:'SFTextRegular';
      margin-top:.5rem;
      color:black;
      font-size:2.8rem;
      background-size:contain;
      background-repeat:no-repeat;
      padding-bottom:7rem;
      background-position:right;
      &:hover{
        color:yellow;
      }
    }
    #reflexive{
      @include media($mobile){
        background-image:url('../images/reflexive-transparent-big.gif');
      }
      &:hover{
        background-image:url('../images/reflexive-transparent-big.gif');
      }
    }

    #map{
      @include media($mobile){
        background-image:url('../images/map.png');
      }
      &:hover{
        background-image:url('../images/map.png');
      }

    }

    #inspire{
      @include media($mobile){
        background-image:url('../images/inspire.jpg');
      }
      &:hover{
        background-image:url('../images/inspire.jpg');
      }
    }

    #slow{
      @include media($mobile){
        background-image:url('../images/slowplace.gif');
      }
      &:hover{
        background-image:url('../images/slowplace.gif');
      }
    }


    #military{
      @include media($mobile){
        background-image:url('../images/military2.png');
      }
      &:hover{
        background-image:url('../images/military2.png');
      }
    }

    #post{
      @include media($mobile){
        background-image:url('../images/poster.gif');
      }
      &:hover{
        background-image:url('../images/poster.gif');
      }
    }
  }
}
