@font-face {
    font-family: 'Gustave';
    src: url('Piegnot-Beta_1.1.web.woff2') format('woff2'),
         url('Piegnot-Beta_1.1.web.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
