body{
  margin:0;
  padding:0;

}

h1{
  margin:0;
  padding:0;
}

li{
  float: left;
  width:200px;
}

ul{
  list-style-type: none;
}

div{
  width:100%;
  padding:0;
  margin:0;
  overflow:auto;
}


div.grey{
  background-color:#d9e6e6;;
}

div.yellow{
  background-color:#ddb32a;
}

div.blanket{
  background-image:url("images/blanket.jpg");
  background-size:cover;
}

div.brown{
  background-color:#ba906a;
}
