body{
  margin:0;
  padding:0;

}

h1{
  margin:0;
  padding:0;
}

li{
  display:inline-block;
}


/*@media (min-width:600px){*/
  li.album{
    width:100%;
    margin-right:10%;
  }

  /*li.tracklist{
    height:600px;
  }*/
/*}*/

/*@media (min-width:0px) and (max-width:599px){
  li.album{
    height:300px;
    margin-right:10%;
  }

  li.tracklist{
    height:300px;
  }

  img.equalheight{
      height:inherit;
  }
}*/

li.label{
  width:200px;
}

li.towelphoto{
  width:85%;
}

@media (min-width:600px){
  li.illustration{
    width:400px;
    margin:0 2% 0 2%;
  }
}

@media (min-width:0px) and (max-width:599px){
  li.illustration{
    width:200px;
    margin:0 2% 0 2%;
  }
}

li.gym{
  width:85%;
  margin:20px 0 20px 0;
}

img{
  width:inherit;
}

img.equalheight{
    height:inherit;
}

ul{
  list-style-type: none;
  margin: 100px 0 100px 0;
}

div{
  width:100%;
  padding:0;
  overflow:auto;
}


div.grey{
  background-color:#d9e6e6;;
}

div.yellow{
  background-color:#ddb32a;
}

div.blanket{
  background-image:url("images/blanket.jpg");
  background-size:cover;
}

div.brown{
  background-color:#ba906a;
}

div.center{
  text-align:center;
}

div.spacer{
  height:70%;
}
