@import 'reset.scss';
@import '../neat/neat';

$mobile: new-breakpoint(max-width 771px);



.description{
  font-family:sans-serif;

}

h1{
  font-size:36px;
  font-family:sans-serif;
  font-weight:bold;
}

#contentmodal{
  overflow: scroll;
}

#projectlinkwrapper{
  width:100%;
  margin-top:4rem;
  margin-bottom:4rem;
  text-align:center;
}

.rule{

  border-bottom:1px solid black;
  width:100%;
  margin-top:4rem;
  margin-bottom:4rem;


}


#cover {
  display: none;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  bottom:0;
  right:0;
  width: 100%;
  height: 100%;
  // overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(217,230,230,0.6);
}

.visible{
  @include media($mobile){
    display:block;
  }
  display:block;
}

#modalwrapper{
  padding:0% 16% 0% 16%;
  position:relative;

  #contentmodal{
    @include media($mobile){
      width:92%;
      height:92%;
    }
    display:none;
    position: fixed;
    width:90%;
    padding:20px;
    height:90%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size:25px;
    z-index:2;
    background-color:white;
    border:1px solid black;
  }

  .close {
    display: block;
    position: fixed;
    right: 4px;
    top: 4px;
    width: 30px;
    height: 30px;
    transition: transform .25s ease-in-out;
    z-index:6;
    padding:0;
    &:hover{
      transform:rotateZ(90deg);
      cursor:pointer;
    }
    &:before{
      content: "";
      position: absolute;
      display: block;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 30px;
      height: 0;
      border-top: 1px solid black;
      transform: rotate(45deg);
      transform-origin: center;

    }
    &:after{
      content: "";
      position: absolute;
      display: block;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 30px;
      height: 0;
      border-top: 1px solid black;
      transform: rotate(-45deg);
      transform-origin: center;
    }
  }
}


#chartwrapper{
  width:70%;
}

h3{
  font-family:sans-serif;
  font-size:29px;
  margin-bottom:4rem;

}

#chartinterface{
  position:relative;
}

.conclusion{
  font-size:36px;
  font-family:sans-serif;
  line-height:120%;
}

#chartselector{
  width:25%;
  position:absolute;
  top:0;
  right:0;
  select{
    background-color:#e0e2e5;
    font-size:18px;

  }
  button{
    font-size:18px;
    background-color:#e0e2e5;
    border:1px solid black;
    &:hover{

      cursor:pointer;
    }
    &:active{
      background-color:black;
      color:white;
      outline:none;
    }
  }
}
body{
  background-color:white;
}

.container {
  @include media($mobile){
    width:80%;
  }
  width:80%;
    max-width: 1000px;
    margin: auto;
    margin-top:5rem;
    margin-bottom:5rem;

}

a{
  &.projectlink{
    font-family:sans-serif;
    border:1px solid black;
    font-weight:bold;
    padding: 4px;
    color:black;
    text-decoration:underline;
    &:hover{
      text-decoration:none;
      background-color:#eaeaea;
    }
  }


}

/* Specific mapael css class are below
 * 'mapael' class is added by plugin
*/

.mapael .map {
    position: relative;
    margin:4rem 0rem 4rem 0rem;
}

.mapael .mapTooltip {
    position: absolute;
    font-family:sans-serif;
    background-color: white;
    filter: alpha(opacity=70);
    padding: 3px;
    z-index: 1000;
    max-width: 200px;
    display: none;
    color: black;
    border:1px solid black;
}

.myLegend {
    width: 400px;
    border: 1px solid #bebeb4;
    background-color: grey;
    width: 600px;
    padding: 10px;
    display:none!important;
}

.mapael .zoomButton {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 0;
    font-weight: bold;
    left: 10px;

    -webkit-user-select: none;
    -khtml-user-select : none;
    -moz-user-select: none;
    -o-user-select : none;
    user-select: none;
}

/* Reset Zoom button first */
.mapael .zoomReset {
    top: 10px;
}

/* Then Zoom In button */
.mapael .zoomIn {
    top: 30px;
}

/* Then Zoom Out button */
.mapael .zoomOut {
    top: 50px;
}

#modal{
  position:fixed;
  width:100%;
  height:50%;
  background-color:white;
  display:none;
}

.visible{
  display:block;
}




#scalebuttons{
  text-align:center;
}

button{


  &.changescale{
    @include media($mobile){
      width:100%;
    }
    outline:0;
    width:15%;
    padding:1rem 0rem 1rem 0rem;
    margin-right:.2rem;
    margin-top:.2rem;
    background-color:rgba(255,255,255,0);
    border-radius:none;
    font-size:20px;
    border:1px solid black;
    &.clicked{
      background-color:grey;
    }
    &:hover{
      color:white;
      background-color:black;
      cursor:pointer;
    }

  }

}

.myText {
    padding: 10px;
    height:200px;
    color: black;
    border: 1px solid black;
    margin: 10px;
    span{
      font-family:sans-serif;
      font-size:14px;
    }
}

.numemph{
  color:#8e3c31;
  font-weight:bold;
}
