@import 'reset.scss';


body{
  background-color:white;
}

.container {
    max-width: 800px;
    margin: auto;
}

/* Specific mapael css class are below
 * 'mapael' class is added by plugin
*/

.mapael .map {
    position: relative;
}

.mapael .mapTooltip {
    position: absolute;
    font-family:sans-serif;
    background-color: white;
    filter: alpha(opacity=70);
    padding: 3px;
    z-index: 1000;
    max-width: 200px;
    display: none;
    color: black;
    border:1px solid black;
}

.myLegend {
    width: 400px;
    border: 1px solid #bebeb4;
    background-color: grey;
    width: 600px;
    padding: 10px;
    display:none!important;
}

#modal{
  position:fixed;
  width:100%;
  height:50%;
  background-color:white;
  display:none;
}

.visible{
  display:block;
}


.myText {
    padding: 10px;
    height:200px;
    color: black;
    margin: 10px;
    span{
      font-family:sans-serif;
      font-size:14px;
    }
}

.numemph{
  color:#8e3c31;
  font-weight:bold;
}
