@font-face{
  font-family: 'AtlasGrotesk-Bold';
  src: local('AtlasGrotesk-Bold');
}

@font-face{
  font-family: 'AtlasGrotesk-Medium';
  src: local('AtlasGrotesk-Medium');
}

@font-face{
  font-family: 'AtlasGrotesk-Regular';
  src: local('AtlasGrotesk-Regular');
}

@font-face{
  font-family: 'AtlasGrotesk-Light';
  src: local('AtlasGrotesk-Light');
}

@font-face{
    font-family: 'PortraitCond-Light';
    src: local('PortraitCond-Light');
}

@font-face{
  font-family:'PortraitText-Regular';
  src:local('PortraitText-Regular');
}

@font-face{
  font-family:'PortraitText-RegularItalic';
  src:local('PortraitText-RegularItalic');
}
