@font-face{
  font-family: 'AtlasGrotesk-Bold';
  src: local('../fonts/AtlasGrotesk-Bold');
}

@font-face{
  font-family: 'AtlasGrotesk-Medium';
  src: url('../fonts/AtlasGrotesk-Medium');
}

@font-face{
  font-family: 'AtlasGrotesk-Regular';
  src: url('../fonts/AtlasGrotesk-Regular.otf');
}

@font-face{
  font-family: 'AtlasGrotesk-Light';
  src: url('../fonts/AtlasGrotesk-Light.otf');
}

@font-face{
    font-family: 'PortraitCond-Light';
    src: url('../fonts/PortraitCond-Light.otf');
}

@font-face{
  font-family:'PortraitText-Regular';
  src:url('../fonts/PortraitText-Regular.otf');
}

@font-face{
  font-family:'PortraitText-RegularItalic';
  src:url('../fonts/PortraitText-RegularItalic.otf');
}
