body{
  background-color:	#eac086;
}
.demo-container {
    background: #131112;

  }
  #image {
    position: absolute;
    left: -1000px;
    top: -1000px;
  }
  #canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -200px;
    display:none;
  }

  #fix{
    position:absolute;
    width: 400px;
    height: 400px;

  }

img{
  width: 400px;
  height: 400px;
}


.columnwrapper{
  height:60vh;
  overflow-y:scroll;
  position:relative;
  padding:4rem;
  width:400px;
}

#wholeimages{
  position:relative;
}

::-webkit-scrollbar {
    display: none;
}
