$visual-grid: false !default;


@import "grid-settings";
@import "neat/neat"; // or "neat" when in Rails
@import "nav.scss";
@import "typefaces";


$color-blue:#5284ff;
$color-lightgrey:#c2c4c6;
$color-offwhite:#f8f8f9;
$color-midgrey:#999b9e;
$color-offblack:#232021;

$scrollcorner:4px;


body{
  margin:0;
  padding:0;
}

.container {
  @include outer-container(100%);
  font-family:'AtlasGrotesk-Regular';
}

.home {

  @include media($mobile) { // As defined in _grid-settings.scss
    @include span-columns(6);
    // @include shift(1);
    background-image:url('images/logo-large-1.png');
    background-color:white;
    background-size:contain;
    background-position:center;
    position:fixed;
    top:0;
    padding-top:20px;
    margin-top:0px;
    height:80px;
    background-repeat:no-repeat;
    border-bottom:1px solid $color-offblack;
  }

  @include media($tablet){
    background-image:url('images/logo-large-1.png');
    background-size:contain;
    background-position:center;
  }
  @include span-columns(3);
  font-size:40pt;
  margin-top:25px;
  background-image:url('images/logo-monoline-1.png');
  background-size:contain;
  height:150px;
  background-repeat:no-repeat;
  img{
    @include fill-parent;
  }
}

.navwrapper{
  @include span-columns(5);
  @include row();

  @include omega();
  @include media($mobile){
    display:none;
  }
  @include media($tablet){
    display:none;
  }

  li{
    @include span-columns(1 of 5);
    font-size:12pt;
    text-align:right;
    float:left;
    margin-top:80px;
    margin-right:0;
    padding-right:14px;
    a{
      text-decoration:none;
      color:$color-offblack;
      &:hover{
        text-decoration:underline;
      }
    }
  }
}

.eventwrapper{
  @include media($mobile){
    @include span-columns(6);
  }
  @include span-columns(8);
  padding:35px;
  .calendarinfo{

    @include media($mobile){
      @include span-columns(6 of 6);
      position:fixed;
      top:auto;
      bottom:0;
      background-color:$color-lightgrey;
      text-align:center;
    }
    @include span-columns (2 of 8);

    position:fixed;
    top:180px;

    left:0;
    h1{
      @include media($mobile){
        font-size:18px;
      }
      font-weight:normal;
      font-family:"AtlasGrotesk-Regular";
      color:$color-blue;
      font-size:36px;
      display:inline;
    }
    h2{
      font-family:"PortraitText-Regular";
      font-weight:normal;
      color:$color-offblack;
      font-size:18px;
      display:inline;

    }
    h3{
      font-family:"AtlasGrotesk-Regular";
      font-weight:normal;
      color:white;
      font-size:15px;
      display:inline;
    }
    .details{
      @include media($mobile){
        @include span-columns(6 of 6);
      }
      @include span-columns(2 of 2);
      background-color:$color-lightgrey;
    }
  }
}

.eventphotos{
  @include media($mobile){
    display:none;
  }
  @include span-columns(3 of 8);
  @include shift(2);
  padding:30px;
  img{
    width:90%;
    margin-bottom:15px;
  }
}

.eventcontent{
  @include media($mobile){
    @include span-columns(6 of 6);
    margin-top:90px;
  }
  @include span-columns(3 of 8);
  p{
    font-family:"PortraitText-Regular";
    font-weight:normal;
    color:$color-offblack;
    font-size:22px;
    line-height:130%;
  }
  .tablewrapper{
    @include media($mobile){
      @include span-columns(6 of 6);
    }
    @include span-columns(3 of 3);
    margin:0 auto;
  }
  .nametable{
    @include media($mobile){
      @include span-columns(6 of 6);
    }
    @include span-columns(3 of 3);
    margin-bottom:20px;
    a{
      @include media($mobile){
        font-size:13px;
      }
      font-family: 'AtlasGrotesk-Medium';
      text-transform:uppercase;
      color:$color-offblack;
      display:block;
      font-size:9px;
      text-decoration:none;
      margin-bottom:2px;
      span{
        border-bottom:1px solid $color-blue;
        &:hover{
          border-bottom:none;
        }
      }
    }
    tbody{
      @include media($mobile){
        @include span-columns(6 of 6);
      }
      @include span-columns(3 of 3);
    }
    tr{
      @include media($mobile){
        @include span-columns(6 of 6);
      }
      @include span-columns(3 of 3);
    }
    td{
      @include span-columns(1 of 3);
      text-align:left;
      @include media($tablet){
        @include span-columns(3 of 3);
        display:block;
      }
      @include media($mobile){
        @include span-columns(3 of 3);
        display:block;
      }

    }
  }
}

.twitterfooter{
  position:fixed;
  width:100%;
  height:40px;
  z-index:9999;
  bottom:0;
  background:$color-offwhite;
  .twittercontent{
    position:relative;
    img{
      width:16px;
    }
    font-family:'PortraitText-RegularItalic';
    src:local('PortraitText-RegularItalic');
    color:$color-midgrey;
    font-size:15px;
    padding: 12px;
  }

  @include media($tablet){
  }
  @include media($mobile){
    display:none;
  }
}



::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar-track
{
	background-color: #f8f8f9;
}

::-webkit-scrollbar
{
	width: 8px;
  height:8px;
	background-color: #f8f8f9;
}

::-webkit-scrollbar-thumb
{
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	// background-color: $color-lightgrey;
  background: $color-midgrey;
  background:
    linear-gradient(135deg, transparent $scrollcorner, $color-midgrey 0) top left,
    linear-gradient(225deg, transparent $scrollcorner, $color-midgrey 0) top right,
    linear-gradient(315deg, transparent $scrollcorner, $color-midgrey 0) bottom right,
    linear-gradient(45deg,  transparent $scrollcorner, $color-midgrey 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
