@font-face {
  font-family: 'AtlasGrotesk-Bold';
  src: local("AtlasGrotesk-Bold"); }
@font-face {
  font-family: 'AtlasGrotesk-Medium';
  src: local("AtlasGrotesk-Medium"); }
@font-face {
  font-family: 'AtlasGrotesk-Regular';
  src: local("AtlasGrotesk-Regular"); }
@font-face {
  font-family: 'PortraitCond-Light';
  src: local("PortraitCond-Light"); }
@font-face {
  font-family: 'PortraitText-Regular';
  src: local("PortraitText-Regular"); }
@font-face {
  font-family: 'PortraitText-RegularItalic';
  src: local("PortraitText-RegularItalic"); }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*********************
VARIABLES
**********************/
/*Controls Menu top & bottom padding*/
/*Contols Menu left & right padding*/
/*Control Menu Color Scheme*/
/*********************
RESPONSIVE BREAKPOINTS
**********************/
/*********************
NAVIGATION STYLES
**********************/
nav {
  width: 100%;
  background: linear-gradient(to bottom, #353535 0%, #232323 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35); }
  @media (max-width: 715px) {
    nav {
      margin: 65px 0 0 0;
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s ease;
      background: #191919; } }

nav ul {
  margin: 0 auto;
  width: 1100px;
  list-style: none; }
  @media (max-width: 715px) {
    nav ul {
      margin: 0;
      padding: 0;
      width: 100%;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
      z-index: 15; } }
  nav ul li {
    float: left;
    position: relative;
    z-index: 1;
    /******************
    SUBNAV
    ******************/ }
    @media (max-width: 715px) {
      nav ul li {
        float: none;
        position: relative;
        margin: 0; } }
    nav ul li a {
      display: block;
      padding: 20px 25px;
      text-align: center;
      color: white;
      text-decoration: none;
      border-right: 1px solid #1c1c1c;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
      transition: all 0.1s ease; }
      nav ul li a:hover {
        background: #1c1c1c;
        color: #00aedb;
        transition: all 0.2s ease; }
      @media (max-width: 715px) {
        nav ul li a {
          display: table;
          margin: 0;
          padding: 15px 2px;
          color: white;
          border-top: 1px solid rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.03);
          text-shadow: none;
          width: 100%; } }
    nav ul li:hover ul {
      opacity: 1;
      max-height: 1000px;
      transition: all 0.3s ease; }
      @media (max-width: 715px) {
        nav ul li:hover ul {
          max-height: 0; } }
    nav ul li ul {
      background: #1c1c1c;
      list-style: none;
      padding: 0;
      position: absolute;
      width: 200px;
      max-height: 0;
      z-index: 0;
      opacity: 0;
      overflow: hidden;
      font-size: .9em;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease; }
      @media (max-width: 715px) {
        nav ul li ul {
          max-height: 0;
          opacity: 1;
          width: 100%;
          position: relative;
          overflow: hidden;
          box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5);
          transition: all 2s ease; } }
      nav ul li ul li {
        float: none;
        margin: 0; }
        @media (max-width: 715px) {
          nav ul li ul li {
            margin: 0; } }
        nav ul li ul li a {
          display: block;
          text-align: left;
          padding: 13.33333px 16.66667px;
          margin: 0;
          border-right: none;
          border-top: 1px solid #161616;
          box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.03);
          text-transform: none;
          text-shadow: none;
          transition: all 0.2s ease; }
          nav ul li ul li a:hover {
            color: #00aedb;
            background: #424242;
            transition: all 0.5s ease; }
          @media (max-width: 715px) {
            nav ul li ul li a {
              color: white;
              padding-left: 20px;
              background: none; } }

/***************************
MOBILE NAV STYLES
***************************/
.mobile {
  display: none;
  margin: 0;
  padding: 20px 15px;
  background: linear-gradient(to bottom, #353535 0%, #262626 100%);
  position: absolute;
  color: white;
  text-decoration: none;
  top: 15px;
  right: 15px;
  line-height: 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35); }
  @media (max-width: 715px) {
    .mobile {
      display: table; } }

.active {
  max-height: 9000px !important;
  transition: all 1s ease; }

@media (max-width: 715px) {
  .arrow {
    display: block;
    background: url(../images/arrow.png) no-repeat;
    float: right;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 25px;
    top: 10px;
    transition: all 0.3s ease; }
    .arrow:hover {
      cursor: pointer; }

  .rotate {
    transition: all 0.3s ease;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg); } }
body {
  margin: 0;
  padding: 0; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'AtlasGrotesk-Regular'; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.home {
  float: left;
  display: block;
  margin-right: 2.4458%;
  width: 35.97137%;
  font-size: 40pt;
  margin-top: 25px;
  background-image: url("images/logo-monoline-1.png");
  background-size: contain;
  height: 150px;
  background-repeat: no-repeat; }
  @media screen and (max-width: 480px) {
    .home {
      float: left;
      display: block;
      margin-right: 3.28787%;
      width: 100%;
      background-image: url("images/logo-large-1.png");
      background-color: white;
      background-size: contain;
      background-position: center;
      position: fixed;
      top: 0;
      padding-top: 20px;
      margin-top: 0px;
      height: 80px;
      background-repeat: no-repeat;
      border-bottom: 1px solid #232021; }
      .home:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 800px) {
    .home {
      background-image: url("images/logo-large-1.png");
      background-size: contain;
      background-position: center; } }
  .home:last-child {
    margin-right: 0; }
  .home img {
    width: 100%; }

.navwrapper {
  float: left;
  display: block;
  margin-right: 2.4458%;
  width: 61.58282%;
  display: block;
  margin-right: 0; }
  .navwrapper:last-child {
    margin-right: 0; }
  .navwrapper::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 480px) {
    .navwrapper {
      display: none; } }
  @media screen and (max-width: 800px) {
    .navwrapper {
      display: none; } }
  .navwrapper li {
    float: left;
    display: block;
    margin-right: 3.97156%;
    width: 16.82275%;
    font-size: 12pt;
    text-align: right;
    float: left;
    margin-top: 80px;
    margin-right: 0;
    padding-right: 14px; }
    .navwrapper li:last-child {
      margin-right: 0; }
    .navwrapper li a {
      text-decoration: none;
      color: #232021; }
      .navwrapper li a:hover {
        text-decoration: underline; }

.contheaderswrapper {
  float: left;
  display: block;
  margin-right: 2.4458%;
  width: 100%;
  display: block; }
  @media screen and (max-width: 480px) {
    .contheaderswrapper {
      float: left;
      display: block;
      margin-right: 3.28787%;
      width: -3.28787%;
      display: none; }
      .contheaderswrapper:last-child {
        margin-right: 0; } }
  .contheaderswrapper:last-child {
    margin-right: 0; }
  .contheaderswrapper::after {
    clear: both;
    content: "";
    display: block; }
  .contheaderswrapper .contheaders {
    float: left;
    display: block;
    margin-right: 2.4458%;
    width: 48.7771%;
    padding-left: 60px; }
    .contheaderswrapper .contheaders:last-child {
      margin-right: 0; }
    .contheaderswrapper .contheaders h3 {
      font-family: 'PortraitCond-Light';
      font-weight: normal;
      font-size: 21pt; }
      .contheaderswrapper .contheaders h3 .right {
        margin-left: 51.2229%; }

.contentwrapper {
  float: left;
  display: block;
  margin-right: 2.4458%;
  width: 100%;
  overflow: hidden; }
  .contentwrapper:last-child {
    margin-right: 0; }

.content {
  float: left;
  display: block;
  margin-right: 2.4458%;
  width: 100%;
  display: block; }
  @media screen and (max-width: 480px) {
    .content {
      float: left;
      display: block;
      margin-right: 3.28787%;
      width: 100%; }
      .content:last-child {
        margin-right: 0; } }
  .content:last-child {
    margin-right: 0; }
  .content::after {
    clear: both;
    content: "";
    display: block; }

.eventfeed {
  float: left;
  display: block;
  margin-right: 2.4458%;
  width: 48.7771%;
  z-index: 0;
  overflow-y: scroll;
  height: 500px;
  padding-left: 60px; }
  @media screen and (max-width: 480px) {
    .eventfeed {
      float: left;
      display: block;
      margin-right: 3.28787%;
      width: 100%;
      height: auto; }
      .eventfeed:last-child {
        margin-right: 0; } }
  .eventfeed:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .eventfeed .feedcontent img {
      width: 100%; } }
  .eventfeed .feedcontent img {
    width: 70%; }
  .eventfeed .feedcontent h1 {
    font-family: 'AtlasGrotesk-Regular';
    font-weight: normal;
    font-size: 24pt;
    color: #5284ff;
    line-height: 100%; }
  .eventfeed .feedcontent h2 {
    font-family: 'PortraitText-RegularItalic';
    font-size: 14pt;
    line-height: 100%;
    font-weight: normal; }

.resourcefeed {
  float: left;
  display: block;
  margin-right: 2.4458%;
  width: 48.7771%;
  overflow-y: scroll;
  height: 500px;
  padding-left: 60px; }
  @media screen and (max-width: 480px) {
    .resourcefeed {
      display: none; } }
  .resourcefeed:last-child {
    margin-right: 0; }
  .resourcefeed h1 {
    font-family: 'AtlasGrotesk-Regular';
    font-size: 16pt;
    line-height: 120%;
    font-weight: normal; }
    .resourcefeed h1 a {
      text-decoration: none;
      color: #000;
      background-image: linear-gradient(#fff 50%, #5284ff 50%);
      background-repeat: repeat-x;
      background-position: 0 15px;
      background-size: 4px 8px; }
      .resourcefeed h1 a:hover {
        background-image: none; }
  .resourcefeed h2 {
    font-family: 'PortraitText-RegularItalic';
    font-size: 14pt;
    line-height: 100%;
    font-weight: normal; }
  .resourcefeed h3 {
    font-family: 'AtlasGrotesk-Medium';
    font-size: 8pt;
    color: #999b9e;
    text-transform: uppercase;
    line-height: 100%;
    font-weight: normal; }

.infobox {
  bottom: 0;
  left: 0%;
  float: left;
  display: block;
  margin-right: 2.4458%;
  width: 23.16565%;
  background-color: #c2c4c6;
  margin-bottom: -1000px;
  padding-bottom: 1000px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  float: none;
  position: relative;
  z-index: 99;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  @media screen and (max-width: 480px) {
    .infobox {
      display: none; } }
  @media screen and (max-width: 800px) {
    .infobox {
      left: -20%; } }
  .infobox:last-child {
    margin-right: 0; }
  .infobox .infocontent {
    float: left;
    display: block;
    margin-right: 14.59066%;
    width: 100%;
    position: absolute;
    width: 100%; }
    .infobox .infocontent:last-child {
      margin-right: 0; }
    .infobox .infocontent h1 {
      font-family: 'PortraitCond-Light';
      font-size: 21pt;
      font-weight: normal; }
    .infobox .infocontent h2 {
      font-family: 'PortraitText-Regular';
      font-size: 18px;
      font-weight: normal; }
      .infobox .infocontent h2 a {
        text-decoration: underline;
        color: #232021; }
        .infobox .infocontent h2 a:hover {
          text-decoration: none; }
    .infobox .infocontent h3 {
      font-size: 18px;
      color: white;
      font-weight: normal; }
    .infobox .infocontent input {
      font-family: 'PortraitText-RegularItalic';
      border-bottom: 1px solid #5284ff;
      border-left: none;
      border-top: none;
      border-right: none;
      padding: 0;
      vertical-align: middle;
      white-space: normal;
      background: none;
      line-height: 1;
      font-size: 20px; }
      .infobox .infocontent input::-webkit-input-placeholder {
        color: white; }
      .infobox .infocontent input:-moz-placeholder {
        color: white; }
      .infobox .infocontent input::-moz-placeholder {
        color: white; }
      .infobox .infocontent input:-ms-input-placeholder {
        color: white; }
      .infobox .infocontent input:focus {
        outline: 0; }

.twitterfooter {
  position: fixed;
  width: 100%;
  height: 40px;
  z-index: 9999;
  bottom: 0;
  background: #f8f8f9; }
  .twitterfooter .twittercontent {
    position: relative;
    font-family: 'PortraitText-RegularItalic';
    src: local("PortraitText-RegularItalic");
    color: #999b9e;
    font-size: 15px;
    padding: 12px; }
    .twitterfooter .twittercontent img {
      width: 16px; }
  @media screen and (max-width: 480px) {
    .twitterfooter {
      display: none; } }

.mobresourcebulletin {
  position: fixed;
  bottom: -999999; }
  @media screen and (max-width: 480px) {
    .mobresourcebulletin {
      position: fixed;
      width: 100%;
      height: 40px;
      bottom: 0;
      background: white;
      z-index: 9999;
      padding: 8px;
      padding-top: 13px;
      border-top: 1px #232021 solid; }
      .mobresourcebulletin a {
        font-family: 'PortraitText-Regular';
        font-size: 15;
        color: #232021; } }

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 2px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }

::-webkit-scrollbar-track {
  background-color: #f8f8f9; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f8f8f9; }

::-webkit-scrollbar-thumb {
  background: #999b9e;
  background: linear-gradient(135deg, transparent 4px, #999b9e 0) top left, linear-gradient(225deg, transparent 4px, #999b9e 0) top right, linear-gradient(315deg, transparent 4px, #999b9e 0) bottom right, linear-gradient(45deg, transparent 4px, #999b9e 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat; }

/*# sourceMappingURL=styles.css.map */
