@font-face{
  font-family: 'Atlas-Grotesk-Bold';
  src: local('AtlasGrotesk-Bold');
}

@import "neat/neat";

div.container {
  @include outer-container;
  font-family:'Atlas-Grotesk-Bold';
  font-size:4vw;
}

div.element {
  @include span-columns(6);
}
