$visual-grid: false !default;
@import "grid-settings";
@import "typefaces";
@import "neat/neat"; // or "neat" when in Rails
@import "nav.scss";

$color-blue:#5284ff;
$color-lightgrey:#c2c4c6;
$color-offwhite:#f8f8f9;
$color-midgrey:#999b9e;
$color-offblack:#232021;
$text: #333;
$feedheights:500px;
$scrollcorner:4px;

// $link-color:black;
// $link-hover:black;
// $link-vertical-padding:15px;      //Controls Menu top & bottom padding
// $link-horizontal-padding:20px;    //Contols Menu left & right padding
// $menu-background:white;        //Control Menu Color Scheme

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

body{
  margin:0;
  padding:0;
}

.container {
  @include outer-container(100%);
  font-family:'AtlasGrotesk-Regular';
}

.home {

  @include media($mobile) { // As defined in _grid-settings.scss
    @include span-columns(6);
    // @include shift(1);
    background-image:url('images/logo-large-1.png');
    background-color:white;
    background-size:contain;
    background-position:center;
    position:fixed;
    top:0;
    padding-top:20px;
    margin-top:0px;
    height:80px;
    background-repeat:no-repeat;
    border-bottom:1px solid $color-offblack;
  }

  @include media($tablet){
    background-image:url('images/logo-large-1.png');
    background-size:contain;
    background-position:center;
  }
  @include span-columns(3);
  font-size:40pt;
  margin-top:25px;
  background-image:url('images/logo-monoline-1.png');
  background-size:contain;
  height:150px;
  background-repeat:no-repeat;
  img{
    @include fill-parent;
  }
}

// @mixin breakpoint($point) {
//   @if $point == 715 {
//     @media (max-width: 715px) { @content; }
//   }
//   @else if $point == another-break-point {
//     @media (max-width: 0) { @content; }
//   }
// }

.navwrapper{
  @include span-columns(5);
  @include row();

  @include omega();
  @include media($mobile){
    display:none;
  }
  @include media($tablet){
    display:none;
  }

  li{
    @include span-columns(1 of 5);
    font-size:12pt;
    text-align:right;
    float:left;
    margin-top:80px;
    margin-right:0;
    padding-right:14px;
    a{
      text-decoration:none;
      color:$color-offblack;
      &:hover{
        text-decoration:underline;
      }
    }
  }
  // margin-right:12px;
}

.contheaderswrapper{
  @include media($mobile){
    @include span-columns(0);
    display:none;
  }
  @include span-columns(8);
  @include row();
  .contheaders{
    @include span-columns(4 of 8);
    padding-left:60px;
    h3{
      font-family:'PortraitCond-Light';
      font-weight:normal;
      font-size:21pt;
      .right{
        @include shift(4);
      }
    }
  }
}


.contentwrapper{
  @include span-columns(8);
  overflow:hidden;


}

.content{
  @include media($mobile){
    @include span-columns(6);
  }
  @include span-columns(8 of 8);
  @include row();
}

.eventfeed{
  @include media($mobile){
    @include span-columns(6 of 6);
    height:auto;
  }
    @include span-columns(4 of 8);
    z-index:0;
    overflow-y: scroll;
    height:$feedheights;
    padding-left:60px;
    .feedcontent{
      @include media($mobile){
        img{
          width:100%;
        }
      }
      img{
        width:70%;
      }
      h1{
        font-family:'AtlasGrotesk-Regular';
        font-weight:normal;
        font-size:24pt;
        color:$color-blue;
        line-height:100%;
      }
      h2{
        font-family:'PortraitText-RegularItalic';
        font-size:14pt;
        line-height:100%;
        font-weight:normal;

      }
    }
}

.resourcefeed{
  @include media($mobile){
    display:none;
  }
  @include span-columns(4 of 8);
  overflow-y:scroll;
  height:$feedheights;
  padding-left:60px;
  h1{
    font-family:'AtlasGrotesk-Regular';
    font-size:16pt;
    line-height:120%;
    font-weight:normal;
    a{
      text-decoration:none;
      color:#000;
      background-image: linear-gradient(#fff 50%, $color-blue 50%);
      background-repeat: repeat-x;
      background-position: 0 15px;
      background-size: 4px 8px;
        &:hover {
          background-image:none;
        }
    }
  }


  h2{
    font-family:'PortraitText-RegularItalic';
    font-size:14pt;
    line-height:100%;
    font-weight:normal;
  }
  h3{
    font-family:'AtlasGrotesk-Medium';
    font-size:8pt;
    color:#999b9e;
    text-transform:uppercase;
    line-height:100%;
    font-weight:normal;

  }
}

.infobox{
  // position: fixed;
  // min-height:100%;
  @include media($mobile){
    display:none;
  }
  @include media($tablet) { // As defined in _grid-settings.scss
    left:-20%;
  }

  bottom:0;
  left:0%;
  @include span-columns(2);
  background-color:$color-lightgrey;
  margin-bottom: -1000px;
  padding-bottom: 1000px;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  float:none;
  position:relative;
  z-index:99;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  .infocontent{
    @include span-columns(1.5 of 1.5);
    position:absolute;
    width:100%;
    h1{
      font-family:'PortraitCond-Light';
      font-size:21pt;
      font-weight:normal;
    }
    h2{
      font-family:'PortraitText-Regular';
      font-size:18px;
      font-weight:normal;
      a{
        text-decoration:underline;
        color:$color-offblack;
        &:hover{
          text-decoration:none;
        }
      }
    }
    h3{
      font-size:18px;
      color:white;
      font-weight:normal;
    }
    input{
      font-family:'PortraitText-RegularItalic';
      border-bottom:1px solid $color-blue;
      border-left:none;
      border-top:none;
      border-right:none;
      padding:0;
      vertical-align:middle;
      white-space:normal;
      background:none;
      line-height:1;
      font-size:20px;
      @include placeholder{
        color:white;
      }
      &:focus{
        outline:0;
      }

    }
  }
}

.twitterfooter{
  position:fixed;
  width:100%;
  height:40px;
  z-index:9999;
  bottom:0;
  background:$color-offwhite;
  .twittercontent{
    position:relative;
    img{
      width:16px;
    }
    font-family:'PortraitText-RegularItalic';
    src:local('PortraitText-RegularItalic');
    color:$color-midgrey;
    font-size:15px;
    padding: 12px;
  }

  @include media($tablet){
  }
  @include media($mobile){
    display:none;
  }
}

.mobresourcebulletin{
  @include media($mobile){
    position:fixed;
    width:100%;
    height:40px;
    bottom:0;
    background:white;
    z-index:9999;
    padding:8px;
    padding-top:13px;
    border-top:1px $color-offblack solid;
    a{
      font-family:'PortraitText-Regular';
      font-size:15;
      color:$color-offblack;
    }
  }
  position:fixed;
  bottom:-999999;

}

// SCROLLBAR CUSTOMIZATIONS


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar-track
{
	background-color: #f8f8f9;
}

::-webkit-scrollbar
{
	width: 8px;
  height:8px;
	background-color: #f8f8f9;
}

::-webkit-scrollbar-thumb
{
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	// background-color: $color-lightgrey;
  background: $color-midgrey;
  background:
    linear-gradient(135deg, transparent $scrollcorner, $color-midgrey 0) top left,
    linear-gradient(225deg, transparent $scrollcorner, $color-midgrey 0) top right,
    linear-gradient(315deg, transparent $scrollcorner, $color-midgrey 0) bottom right,
    linear-gradient(45deg,  transparent $scrollcorner, $color-midgrey 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
